@import './mixin';


// navigation bar
ul.navigation-bar {
    background-color: rgb(230, 230, 230);
    li {
        a.navbar {
           @include navbar_appearance; 
        }
        a.currentpage {
            @include navbar_currentpage;
        }
        a:hover {
            @include navbar_hover;
        }
        a:active {
            @include navbar_active;
        }
    }
}



    // list of games   

    figure {

        // section of motto

        .blockquote {
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(110, 145, 0);
        }
        .blockquote-footer{
            font-size: 1rem;
            font-weight: bold;
            color: rgb(168, 75, 255);
        }

    }


    // section of games
    section {
        a.game_title {
            color: rgb(0, 120, 0);
            }
        a:hover {
            color: burlywood;
            text-decoration: none;
        }
    
        .score {
            font-weight: bold;
            color: rgb(255, 127, 0);
        }
        .review {
            font-weight: bold;
            color: rgb(255, 50, 50);
        }
    }

    // company culture and core values

    section.culture_and_values {
        p {
            line-height: 2em;
        }
        span.company-name {
            font-weight: bolder;
            color: rgb(200, 170, 0);
            text-decoration: underline;
        }
    
        ul.company-culture {
            li {
                list-style-type: none;
                line-height: 2em;
            }
        }
    }

    // contact info

    section {
        p.contact_info {
            line-height: 1.5em;
        }
        // :last-child {
        //     margin-bottom: 20px;
        // }
    }

    //footer

 footer {
    div.credit-cards {
        display: block;
        margin-bottom: 20px;
    }
    div.rights-reserved {
        display: block;
        margin-top: 20px;
    }
 }

