
@mixin navbar_appearance {
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

@mixin navbar_currentpage {
    color: rgb(80, 80, 255);
    text-decoration: underline;
}

@mixin navbar_hover {
    color: aliceblue;
            background-color: chocolate;
            border-radius: 10px;
}

@mixin navbar_active {
    color: black;
    text-decoration: none;
}