/* title */
ul {
    background-color: rgb(230, 230, 230);
    li {
        a.navbar {
            color: rgb(70, 70, 70);
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
        }
        a:hover {
            color: aliceblue;
            background-color: chocolate;
        }
    }
}

.navbar{
    a:hover {
    background-color: rgb(220, 220, 220);
    }
}



/* list of games */
figure {
    .blockquote {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(110, 145, 0);
    }
    .blockquote-footer{
        font-size: 1rem;
        font-weight: bold;
        color: rgb(168, 75, 255);
    }
    a.game_title {
            color:  rgb(0, 120, 0);
        }
    a:hover {
        color: burlywood;
        text-decoration: none;
    }

    .score {
        font-weight: bold;
        color: rgb(255, 127, 0);
    }
    .review {
        font-weight: bold;
        color: rgb(255, 50, 50);
    }
}

// table styles
// table {
//     td {
//         .frontend {
//             color: green;
//             font-weight: bold;
//             text-decoration: underline;
//         }
//         .backend {
//             color: purple;
//             font-weight: bold;
//             text-decoration: underline;
//         }
//     }
// }