@import './mixin';

/* title */
ul {
    background-color: rgb(230, 230, 230);
    li {
        a.navbar {
           @include navbar_appearance; 
        }
        a.navbar_currentpage {
            @include navbar_currentpage;
        }
        a:hover {
            @include navbar_hover;
        }
        a:active {
            @include navbar_active;
        }
    }
}



/* list of games */

    figure {

        // section of motto

        .blockquote {
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(110, 145, 0);
        }
        .blockquote-footer{
            font-size: 1rem;
            font-weight: bold;
            color: rgb(168, 75, 255);
        }
        .game_catalog

    figcaption {
        .catalog_caption {
            margin-left: 50px;
        }
    }

        // section of games

        a.game_title {
            color:  rgb(0, 120, 0);
            }
        a:hover {
            color: burlywood;
            text-decoration: none;
        }
    
        .score {
            font-weight: bold;
            color: rgb(255, 127, 0);
        }
        .review {
            font-weight: bold;
            color: rgb(255, 50, 50);
        }
    }

    //footer

 footer {
    div.credit-cards {
        display: block;
        margin-bottom: 20px;
    }
    div.rights-reserved {
        display: block;
        margin-top: 20px;
    }
 }

