/* title */

/* list of games */
figure {
    a.game_title {
            color:  rgb(0, 120, 0);
        }
    a:hover {
        color: burlywood;
        text-decoration: none;
    }

    .score {
        font-weight: bold;
        color: rgb(255, 127, 0);
    }
}